<%= form_with model: [ @character, @character.skills.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :casting_time %><br>
    <%= form.text_area :casting_time %>
  </p>
    <p>
    <%= form.label :range %><br>
    <%= form.text_area :range %>
  </p>
  <p>
    <%= form.label :duration %><br>
    <%= form.text_area :duration %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>