<div class="skill">
  <p>
    <strong>Name:</strong>
    <%= link_to skill.name, character_skill_path(character_id: @character.id, id: skill.id) %>
  </p>
  <p>
    <strong>Cast Time:</strong>
    <%= skill.casting_time %>
  </p>
  <p>
<strong>Range:</strong>
<% if skill.range =~ /\A\d+\z/ %>
  <%= "#{skill.range} ft" %>
<% else %>
  <%= skill.range %>
<% end %>
  <p>
    <strong>Duration:</strong>
    <%= skill.duration %>
  </p>
</div>
