<div class="skill">
  <p>
    <strong>Name:</strong>
    <%= skill.name %>
  </p>
  <p>
    <strong>Cast Time:</strong>
    <%= skill.casting_time %>
  </p>
  <p>
    <strong>Range:</strong>
    <%= skill.range %>
  </p>
  <p>
    <strong>Duration:</strong>
    <%= skill.duration %>
  <p>
    <strong>Description:</strong>
    <%= skill.description %>
  </p>
<%= button_to "Delete", character_skill_path(character_id: @character.id, id: skill.id), method: :delete %>
</div>
