<div class="skill">
  <p>
    <strong>Name:</strong>
    <%= link_to skill.name, character_skill_path(character_id: @character.id, id: skill.id) %>
  </p>
  <p>
    <strong>Cast Time:</strong>
    <%= skill.casting_time %>
  </p>
  <p>
    <strong>Range:</strong>
    <%= skill.range %>
  </p>
  <p>
    <strong>Target:</strong>
    <%= skill.target %>
  </p>
  <p>
    <strong>Components:</strong>
    <%= skill.components %>
  </p>
  <p>
    <strong>Range:</strong>
    <%= skill.range %>
  </p>
  <p>
    <strong>Duration:</strong>
    <%= skill.duration %>
  </p>
</div>
