<%= form_with model: @character do |form| %>
  <div class="skill">
  <div>
    <%= form.label :current_hitpoints %><br>
    <%= form.text_field :current_hitpoints %>
  </div>
  <div>
    <%= form.label :current_resource %><br>
    <%= form.text_field :current_resource %>
  </div>

  <div>
    <%= form.submit "Update", class: 'button-link'%>
  </div>
  </div>
<% end %>
