<div class="box-container">
  <div class="box-left">
    <div class="box-left-inner-l">
    <h1><%= @character.name %></h1>
    <p><%= @character.description %></p>
    
    <div class="main-info">
      <p>Hitpoints <%= @character.current_hitpoints %>/<%= @character.total_hitpoints %></p>
      <p>Resource <%= @character.current_resource %>/<%= @character.total_resource %></p>
    </div>
    </div>
    <div class="box-left-inner-r">
    <%= image_tag @character.image, width: 200, height: 200 %>
    </div>
  </div>
  
  <div class="box-right">
    <%= link_to "Edit Stats", edit_stats_character_path(@character), class: 'button-link', role: 'button' %>
    <%= link_to "See inventory", items_character_path(@character), class: 'button-link', role: 'button' %>
  </div>
</div>
<%#= link_to "Edit stats", edit_stats_character_path(@character), class: 'button-link', role: 'button' %>
<%= link_to "Edit", edit_character_path(@character), class: 'button-link', role: 'button' %>
<%= link_to "Destroy", character_path(@character), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, class: 'button-link', role: 'button' %>
<div><h1>Skills</h1></div>

<div class="skills-container">
  <div class="skills-column">
    <h2>Action</h2>
    <%= render partial: 'skills/skill', collection: @action_skills, as: :skill, locals: { character: @character } %>
  </div>

  <div class="skills-column">
    <h2>Bonus Action</h2>
    <%= render partial: 'skills/skill', collection: @bonus_action_skills, as: :skill, locals: { character: @character } %>
  </div>

  <div class="skills-column">
    <h2>Reaction</h2>
    <%= render partial: 'skills/skill', collection: @reaction_skills, as: :skill, locals: { character: @character } %>
  </div>
</div>

<%= link_to 'Add a skill', new_character_skill_path(@character), class: 'button-link', role: 'button' %>
