<h1><%= @character.name %></h1>

<p><%= @character.description %></p>

<div class="main-info">
<h2>Hitpoints
<%= @character.current_hitpoints %>/<%= @character.total_hitpoints %>
</h2>
<h2>Resource
<%= @character.current_resource %>/<%= @character.total_resource %>
</h2>
</div>

<ul>
  <li><%= link_to "Edit", edit_character_path(@character) %></li>
  <li><%= link_to "Destroy", character_path(@character), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
<h2>Skills</h2>

<div class="skills-container">
  <div class="skills-column">
    <h3>Action</h3>
    <%= render partial: 'skills/skill', collection: @action_skills, as: :skill, locals: { character: @character } %>
  </div>

  <div class="skills-column">
    <h3>Bonus Action</h3>
    <%= render partial: 'skills/skill', collection: @bonus_action_skills, as: :skill, locals: { character: @character } %>
  </div>

  <div class="skills-column">
    <h3>Reaction</h3>
    <%= render partial: 'skills/skill', collection: @reaction_skills, as: :skill, locals: { character: @character } %>
  </div>
</div>

<h2><%= link_to 'Add a skill', new_character_skill_path(@character) %></h2>

<style>
.main-info {
  display:flex;
  margin: 8px
}
.main-info h2 {
  margin: 16px
}

ul {
    list-style-type: none;
}

.skills-container {
  display: flex;
  justify-content: space-between;
}

.skills-column {
  width: 30%;
}
</style>
