<h1><%= @character.name %></h1>

<p><%= @character.description %></p>

<ul>
  <li><%= link_to "Edit", edit_character_path(@character) %></li>
  <li><%= link_to "Destroy", character_path(@character), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Skills</h2>
<%= render sorted_skills(@character) %>

<h2>Add a skill:</h2>
<%= render 'skills/form' %>